{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="section">
        <h1 class="title">Zeri Art Market Knowledge Graph (ZAMO-KG)</h1>
        <p class="subtitle">
            This knowledge graph contains material on the art market, produced within a research project carried out by the Fondazione Federico Zeri (University of Bologna). It is based on the Zeri Art Market Ontology (<a href="https://w3id.org/zeri/ontology/zamo" target="_blank">ZAMO</a>), and originates from source data published in the "Mercato dell'Arte" repository by the Fondazione Federico Zeri.
        </p>
    </section>

    <section class="section">
        <h2 class="title is-4">ZAMO Ontology</h2>
        <p>
            The structure of ZAMO-KG is built upon the Zeri Art Market Ontology (ZAMO), an OWL ontology designed for describing agents, events and sources relevant to the art market domain. The ontology enables structured and machine-actionable data, providing a framework for representing art market information.
        </p>
        <p>
            Documentation for ZAMO can be found here: <a href="https://w3id.org/zeri/ontology/zamo" target="_blank">ZAMO Documentation</a>. The ontology's source code is available on <a href="https://github.com/FondazioneFedericoZeri/zamo" target="_blank">GitHub</a>.
        </p>
    </section>

    <section class="section">
        <h2 class="title is-4">Construction of the Knowledge Graph</h2>
        <p>
            The Zeri Art Market Knowledge Graph (ZAMO-KG) is created starting from source tabular data (originally published in the <a href="https://github.com/FondazioneFedericoZeri/Mercato_dell_arte" target="_blank">"Mercato dell'Arte"</a> repository by the Fondazione Federico Zeri). Python scripts were used to iterate over the datasets to create a Turtle file and validate it with competency questions. This static website for content negotiation was lastly built with <em>Simple PUblisher of Knowledge</em> (<a href="https://doi.org/10.5281/zenodo.15389756" target="_blank">SPUK</a>).
        </p>
    </section>

    <section class="section">
        <h2 class="title is-4">Additional information</h2>
        <p>
            Ontology: <a href="https://github.com/FondazioneFedericoZeri/zamo" target="_blank">https://github.com/FondazioneFedericoZeri/zamo</a>
        </p>
        <p>
            Endpoint: <a href="http://localhost:3030/zamo-kg/sparql">http://localhost:3030/zamo-kg/sparql</a>
        </p>
    </section>
</div>

{% endblock %}
